/*body {
    font-family: 'Raleway', sans-serif;
}
/*HEADER----------------------------------->*/
body {
    margin: 0px;
    padding: 0px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    margin-right: 35px;
}
.logo {
    padding: 1%;
    text-align: center;
}
.logo img {
    width: 200px;
    transform: rotate(360deg);
    animation: spinme 100s infinite;
}
    @keyframes spinme {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(720deg);
        }
      }

nav {
    width: 60%;
    padding: 2%;
}
nav ul {
    width: 100%;
    margin-left: 405px;
}
/*HERO SPACE------------------------------->*/
/*.heroImg {
    height: 600px;
    padding: 25px;
}*/
.content {
    margin-left: 5%;
}
.heroImg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.heroImg-inner {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: 50px;
    color: white;
    padding: 20px;
}
li {
    font-family: 'Raleway', sans-serif; 
    list-style-type: none;
}
h3 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 350;
}
button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 24px;
    font-size: 15px;
  }

#Download-Resume {
    margin-top: 20px;

}

/*FOOTER----------------------------------->*/
footer {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #373738;
    padding: 30px;
    text-align: center;
    color: white;
}

/*footer ul {
    padding: 0 px;
    text-align: center;
}
footer li {
    display: inline-block;
    margin-right: 25px;
}
/*footer {
    text-align: center;
    color: white;
}
footer ul {
    list-style-type: none;
    padding:0;
}
footer ul li {
    display: inline-block;
    margin: 0 10px;
}*/
